@import '../../utils/variables.scss';

.search-section {
  min-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  background-color: $darkBrown;

  .search-input {
    max-width: 100%;
    border-radius: $radius;
    border: 1px solid $shadow;
    padding: 0.3em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: $light;
    cursor: pointer;
    outline: none;
  }

  .search-input.dark {
    background-color: $black;
    border: 1px solid $green;
    color: $green;
  }
}

.search-section.dark {
  background-color: $black;
}