@import '../../utils/variables.scss';

.main {
  width: 98vw;
  min-height: 98vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  box-sizing: border-box;
  margin-bottom: 10px;
  background-color: $darkBrown;

  .main__tittle {
    height: 60px;
    margin: 50px 0 0 0;
  }

  .main__buttons-container {
    width: 100%;
    margin-top: -20px;
    display: flex;
    gap: 5px;


    .error-button {
      width: 100%;
      padding: 0.1em 1.2em 0.3em 1.2em;
      background-color: $yellowTransparent;
      color: $darkBrown;
      font-weight: 700;
      text-shadow: none;
    }

    .error-button:hover {
      background-color: $orangeTransparent;
      transform: scale(1);
    }
  }

  .main__results-container {
    width: 100%;
    flex-grow: 1;
    display: flex;
    box-sizing: border-box;
  }

  .main__outlet {
    width: 100%;
    color: $light;
    letter-spacing: 1px;
    transition: all 0.5s;
  }

  .main__outlet-hidden {
    width: 0;
  }
}

.main.dark {
  background-color: $black;

  .main__outlet{
    background-color: $dark;
  }
}


.section {
  width: 100%;
  padding: 1.3em 2em;
  box-sizing: border-box;
}

.result-section{
  position: relative;
}

@keyframes moveLeft {

  0%,
  100% {
    left: 10px;
  }

  50% {
    left: 20px;
  }
}


@keyframes moveRight {

  0%,
  100% {
    right: 10px;
  }

  50% {
    right: 20px;
  }
}

.rick-morty-img {
  max-height: 130px;
  position: absolute;
  top: 60px;
  right: 10px;
  transform: scaleX(-1);
  animation: moveRight 1.5s infinite;
}

.rick-morty-img-reverse {
  transform: none;
  right: 0;
  left: 10px;
  animation: moveLeft 1.5s infinite;
}

@media (max-width: 1000px) {
  h1 {
    font-size: 30px;
  }

  .main .main__tittle {
    height: 35px;

  }

  .rick-morty-img {
    max-height: 90px;
    position: absolute;
    top: 70px;
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 20px;
  }

  h2 {
    font-size: 14px;
  }

  h3 {
    font-size: 15px;
  }

  h4 {
    font-size: 12px;
  }

  .main .main__tittle {
    height: 25px;

  }

  .rick-morty-img {
    max-height: 70px;

    transform: scaleX(-1) rotate(90deg);
    top: 10px;
  }

  .rick-morty-img-reverse {
    transform: scaleX(1) rotate(90deg);

  }
}