$light: #f4f3e7;
$lightHover: #e8e6d6;
$lightTransparent: #f4f3e729;
$transparent: #d7d6c600;
$orange: #FF5733;
$orangeTransparent: #ff5833d7;
$purple: #59006F;
$black: #000000;
$shadow: #230f00a1;
$darkBrown: #230f00;
$yellow: #ffd900;
$yellowTransparent: #ffd900d9;
$green: #3cff00;

$radius: 8px;