@import '../../utils/variables.scss';

.details{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  gap: 10px;
}

.h2-details {
  display: inline-block;
  background-image: linear-gradient(25deg, $orange, $orange, $yellow, $yellow, $orange, $orange);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.h4-details{
  width: 100%;
}

.details__img{
  max-width: 95%;
}

@media (max-width: 600px) {
  .details{
    padding: 10px;
  }
}