$light: #f4f3e7;
$white: #fffef7;
$lightHover: #e8e6d6;
$lightTransparent: #f4f3e729;
$transparent: #d7d6c600;
$red: #cf0029;
$orange: #FF5733;
$orangeTransparent: #ff5833d7;
$yellowOrange: #ff8400;
$darkYellow: #bd8b00;
$purple: #59006F;
$black: #140700;
$darkHover: #190b00;
$dark:#1d0c00;
$shadow: #29120075;
$darkShadow: #230f00d5;
$brown: #974100;
$darkBrown: #230f00;
$yellow: #ffd900;
$yellowTransparent: #ffd900d9;
$green: #14e206;
$borderTransparent: #230f003c;


$radius: 8px;
$bigRadius: 20px;