@import '../../utils/variables.scss';

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: 900;
  justify-self: center;
  gap: 10px;

  .pagination__element {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border-radius: $radius;
  }

  button.pagination__button {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border-radius: $radius;
    border: none;
    background-color: $transparent;
    padding: 0 0 5px 0;
    font-size: 30px;
    font-weight: 900;
    transition: all 0.4s;
    text-shadow: none;
    color: $dark;
    box-shadow: 0px 2px 5px $transparent;
    cursor: pointer;
  }

  button.pagination__button:hover {
    background-color: $shadow;
    color: $light;
    transform: scale(1.05);
    box-shadow: 0 3px 8px $black;
  }

  button.pagination__button-disabled{
    pointer-events: none;
    opacity: 0.5;
  }

  @media(max-width: 600px){
    font-size: 20px;
  }
}


.pagination.dark{
  color: $green;

  button.pagination__button {
    color: $green;
  }

  button.pagination__button:hover {
    background-color: $dark;
    box-shadow: 0 0 8px $green;
    color: $green;
  }

  button.pagination__button-disabled{
    pointer-events: none;
    opacity: 0.5;
  }
}